
<div class="row" ng-init="vm.loadMember()">

  <!-- Member Detail -->
  <div class="col-md-4 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">Scheda Membro</div>
      <div class="panel-body text-left">
        <form ng-submit="vm.update()">
          <div class="form-group">
            <label for="first">Nome</label>
            <input type="text" class="form-control" id="first" placeholder="Nome" ng-model="vm.member.first">
          </div>
          <div class="form-group">
            <label for="last">Cognome</label>
            <input type="text" class="form-control" id="last" placeholder="Cognome" ng-model="vm.member.last">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@domain" ng-model="vm.member.email">
          </div>
          <button type="submit" class="btn btn-default">Salva</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Member Detail -->

  <!-- Member Report -->
  <div class="col-md-6 text-left">
    <div class="panel panel-info">
      <div class="panel-heading">Ultimi 5 inserimenti</div>
      <div class="panel-body text-left">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Dal</th>
                  <th>Al</th>
                  <th>Durata</th>
                  <th>Stato</th>
                </tr>
              </thead>
              <tbody ng-show="!vm.ReportIsLoading">
                <tr ng-repeat="row in vm.ReportTabledata">

                  <td>{{row.from | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td ng-hide="row.status==='started'">{{row.to| date : 'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td ng-hide="row.status!=='started'" colspan="2" class="ts-started">in corso</td>
                  <td ng-hide="row.status==='started'">{{row.duration | secondsToHours}}</td>

                  <td>{{row.status | timesheetStatus}}</td>

                </tr>
                <tr>
                  <td colspan="5"  class="text-center" ng-show="vm.ReportTabledata.length === 0 && !vm.ReportIsLoading">
                    <div class="alert alert-warning" role="alert">nessun risultato</div>

                  </td>
                </tr>
              </tbody>
              <tbody ng-show="vm.ReportIsLoading">
                <tr>
                  <td colspan="5" class="text-center"><div class="alert alert-info" role="alert">Loading ...</div> </td>
                </tr>
              </tbody>

              <tfoot ng-show="!vm.ReportIsLoading">
                <tr>
                  <th colspan="2">
                    totale ore
                  </th>
                  <th >
                    {{vm.ReportTotalHours| secondsToHours}}
                  </th>
                  <th >
                    &nbsp;
                  </th>
                </tr>
              </tfoot>
            </table>


      </div>
    </div>
  </div>
  <!-- Member Report -->
</div>


<div class="row">

  <!-- BlockPassword -->
  <div class="col-md-4 col-md-offset-1  text-left">
    <div class="panel panel-info">
      <div class="panel-heading">Associazione <button class="pull-right btn btn-xs btn-default" ng-click="vm.showBlockPassword = !vm.showBlockPassword"><i class="glyphicon" ng-class="{'glyphicon-chevron-up': vm.showBlockPassword===true, 'glyphicon-chevron-down':vm.showBlockPassword===false}"></i></button></div>
      <div class="panel-body ">
        <div class="thumbnail" ng-show="vm.showBlockPassword">
          <div class="center-block">
            <qrcode class="center-block" data="{{vm.member.password}}" download size="180" style="width:180px;"></qrcode>
          </div>
          <div class="caption">
            <h3>QRCode</h3>
            <p>Questo QRCode &egrave; l'immagine che {{vm.member.first}} deve inquadrare per accedere al TimeTracker.</p>
          </div>
        </div>

        <div class="thumbnail" ng-show="vm.showBlockPassword">
          <div class="text-center">
            <div ng-hide="vm.hasPasswordCode">
              <br>
              <button class="btn btn-info btn-lg" ng-click="vm.createPasswordCode()">Genera</button>
            </div>
            <div ng-show="vm.hasPasswordCode">
              <h3>il codice &egrave;</h3>
              <h1>{{vm.passwordCode}}</h1>
              <h6>(durer&agrave; circa fino alle {{vm.passwordCodeLast}})</h6>
            </div>
          </div>
          <div class="caption">
            <h3>Con PIN</h3>
            <p>Mandare il QRCode &egrave; un problema? Genera un codice di 5 cifre e comunicalo. Ma fai presto, il codice scade in pochi minuti! (ed &egrave; utilizzabile una volta sola)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BlockPassword -->

</div>
