html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
  background: url('../images/bg/bg_full_prelog.jpg') no-repeat center center fixed;
  background-color:transparent;
}
